<div class="modal-header">
  <h5 class="modal-title">
    <span>Adauga concediu de odihna</span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Alege perioada</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="startDate" />
        <input matEndDate [(ngModel)]="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="description-field">
      <mat-label>Descriere</mat-label>
      <textarea matInput class="description-textarea" [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>
</div>
<div class="modal-footer">
  <button
    mat-raised-button
    [disabled]="notAllFieldsAreFilled()"
    class="upt-btn confirm-btn"
    [mat-dialog-close]="sendData()"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
