<div class="header-container">
  <div
    class="activity-container"
    [class.activity-course]="data.event.activity === 'courseHour'"
    [class.activity-project]="data.event.activity === 'project'"
    [class.activity-other-activity]="data.event.activity === 'otherActivity'"
    [class.activity-holiday]="data.event.activity === 'holidays'"
  >
    <span>{{ 'event.activity.' + data.event.activity | translate }}</span>
  </div>
</div>
<div class="body-container">
  <div class="row">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">calendar_today</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <div>
        <span>{{ data.event.start | date: 'EEEE, dd MMMM yyyy' | titlecase }}</span>
      </div>
      <div class="hour-date">
        <span
          >{{ data.event.start | date: 'HH:mm' }} - {{ data.event.end.getHours() === 0 ? '24:00' : (data.event.end | date: 'HH:mm') }}</span
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">title</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <span
        ><b>{{
          data.event.subactivity
            ? ('event.subactivity.' + data.event.subactivity | translate)
            : ('event.activity.' + data.event.activity | translate)
        }}</b></span
      >
    </div>
  </div>
  <div class="row" *ngIf="data.event.entity">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">text_fields</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <span>{{ data.event.entity.name }}</span>
      <div class="entity-description">
        <span>{{ getEntityDetails() }}</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data.event.description">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">description</mat-icon>
    </div>
    <div class="col-md-10 text-container description">
      <span>{{ data.event.description }}</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    mat-fab
    title="{{ 'action.delete' | translate }}"
    class="action-button"
    aria-label="Delete"
    (click)="deleteEvent()"
    [ngStyle]="{ backgroundColor: getIconsColor() }"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-fab
    title="{{ 'action.edit' | translate }}"
    class="action-button"
    aria-label="Edit"
    (click)="editEvent()"
    [ngStyle]="{ backgroundColor: getIconsColor() }"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-fab
    title="{{ 'action.copy' | translate }}"
    class="action-button"
    aria-label="Copy"
    (click)="copyEvent()"
    [ngStyle]="{ backgroundColor: getIconsColor() }"
  >
    <mat-icon>file_copy</mat-icon>
  </button>
</div>
