<div class="header-container">
  <div
    class="activity-container"
    [class.activity-course]="data.event.activity === 'Activitate didactica'"
    [class.activity-project]="data.event.activity === 'Proiect'"
    [class.activity-other-activity]="data.event.activity === 'Alta activitate'"
    [class.activity-holiday]="data.event.activity === 'Concediu'"
  >
    <span>{{ data.event.activity }}</span>
  </div>
</div>
<div class="body-container">
  <div class="row">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">calendar_today</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <div>
        <span>{{ data.event.start | date: 'EEEE, dd MMMM yyyy' | titlecase }}</span>
      </div>
      <div class="hour-date">
        <span>{{ data.event.start | date: 'HH:mm' | titlecase }} - {{ data.event.end | date: 'HH:mm' | titlecase }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">title</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <span
        ><b>{{ data.event.subactivity || data.event.activity }}</b></span
      >
    </div>
  </div>
  <div class="row" *ngIf="data.event.entity">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">text_fields</mat-icon>
    </div>
    <div class="col-md-10 text-container">
      <span>{{ data.event.entity.name }}</span>
      <div class="faculty">
        <span>{{ getEntityDetails() }}</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data.event.description">
    <div class="col-md-2">
      <mat-icon [ngStyle]="{ color: getIconsColor() }">description</mat-icon>
    </div>
    <div class="col-md-10 text-container description">
      <span>{{ data.event.description }}</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    mat-fab
    title="Sterge"
    class="action-button"
    aria-label="Delete"
    (click)="deleteEvent()"
    [ngStyle]="{ backgroundColor: getIconsColor() }"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-fab
    title="Editeaza"
    class="action-button"
    aria-label="Edit"
    (click)="editEvent()"
    [ngStyle]="{ backgroundColor: getIconsColor() }"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>
