h5
  width: 100%

.activity-container
  color: #fff
  border-radius: 20px
  font-size: 12px
  padding: 5px 10px
  width: fit-content
  margin-top: 10px

.activity-course
  background-color: rgb(183, 4, 4)

.activity-project
  background-color: rgb(29, 119, 29)

.activity-other-activity
  background-color: rgb(51, 195, 178)

.activity-holiday
  background-color: rgb(90, 37, 236)

h5
  margin-top: 15px

.close-btn
  float: right
