.margin-top
  margin-top: 10px

.small-margin-top
  margin-top: 5px

.header-margin-top
  margin-top: 20px

.form-year-width
  width: 100px

.full-width
  width: 100%

.description-textarea
  height: 100px

