<app-top-bar></app-top-bar>

<div class="calendar-container">
  <div class="calendar-header">
    <app-calendar-header
      (goBackwards)="goBackwards()"
      (goForwards)="goForwards()"
      (setWeekly)="setWeekly()"
      (goToToday)="goToToday()"
      (goToDay)="goToDay($event)"
      [isWeekly]="isWeekly()"
      [isTodayVisible]="isTodayVisible()"
      [date]="date"
    ></app-calendar-header>
  </div>
  <div class="calendar-body">
    <div *ngIf="isWeekly()">
      <mwl-calendar-week-view
        [viewDate]="date"
        locale="ro"
        class="calendar"
        [dayStartHour]="8"
        [dayEndHour]="21"
        [hourSegments]="1"
        [hourSegmentHeight]="50"
        [hourSegmentTemplate]="hourSegmentTemplateWeek"
        [headerTemplate]="headerTemplateWeek"
        (dayHeaderClicked)="setDay($event)"
        (beforeViewRender)="setWeekInterval($event)"
        (hourSegmentClicked)="openAddTimelineDialog($event)"
        [events]="events"
        [eventTemplate]="eventTemplate"
        (eventClicked)="openEvent($event)"
        ><span></span
      ></mwl-calendar-week-view>
    </div>

    <div *ngIf="isDaily()">
      <mwl-calendar-day-view
        [viewDate]="date"
        locale="ro"
        class="calendar"
        [dayStartHour]="8"
        [dayEndHour]="21"
        [hourSegments]="1"
        [hourSegmentHeight]="50"
        [hourSegmentTemplate]="hourSegmentTemplateDay"
        (hourSegmentClicked)="openAddTimelineDialog($event)"
        [events]="events"
        [eventTemplate]="eventTemplate"
        (eventClicked)="openEvent($event)"
      ></mwl-calendar-day-view>
    </div>
  </div>
</div>

<ng-template #hourSegmentTemplateDay let-segment="segment">
  <div class="segment-container" [class.segment-weekend]="isWeekend(segment.date)" [class.segment-today]="isToday(segment.date)">
    <div class="hour-display-day">
      <span
        ><b>{{ segment.displayDate | date: 'HH:mm' }}</b></span
      >
    </div>
  </div>
</ng-template>

<ng-template #hourSegmentTemplateWeek let-segment="segment" let-isTimeLabel="isTimeLabel">
  <div
    [class.segment-container]="!isTimeLabel"
    [class.segment-weekend]="isWeekend(segment.date)"
    [class.segment-today]="isToday(segment.date)"
  >
    <div *ngIf="isTimeLabel" class="hour-segment">
      <span
        ><b>{{ segment.displayDate | date: 'HH:mm' }}</b></span
      >
    </div>
  </div>
</ng-template>

<ng-template
  #headerTemplateWeek
  let-days="days"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
  let-dayHeaderClicked="dayHeaderClicked"
>
  <div class="cal-day-headers" role="row">
    <div
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.header-today]="day.isToday"
      [class.header-weekend]="day.isWeekend"
      class="cal-header"
      tabindex="0"
      role="columnheader"
      (mwlClick)="dayHeaderClicked.emit({ day: day, sourceEvent: $event })"
    >
      <b>{{ day.date | calendarDate: 'weekViewColumnHeader' }}</b>
      <br />
      <span>{{ day.date | calendarDate: 'weekViewColumnSubHeader' }}</span>
    </div>
  </div>
</ng-template>

<ng-template #eventTemplate let-weekEvent="weekEvent" let-eventClicked="eventClicked" let-column="column">
  <div
    class="cal-event"
    [ngStyle]="{
      backgroundColor: weekEvent.event.color?.secondary,
      borderColor: weekEvent.event.color?.primary
    }"
    (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
    tabindex="0"
    role="application"
  >
    <div class="activity-event">
      {{ weekEvent.event.subactivity }}
    </div>
    <div class="activity-event">
      {{ weekEvent.event.start | date: 'HH:mm' | titlecase }} - {{ weekEvent.event.end | date: 'HH:mm' | titlecase }}
    </div>
  </div>
</ng-template>
