<app-top-bar (setEvents)="resolveEvent($event)"></app-top-bar>

<div class="calendar-container">
  <div class="date-label">
    <span>{{ date | date: 'EEEE, dd MMM yyyy' }}</span>
    <span *ngIf="isWeekly()"> - {{ getEndDateForWeekly() | date: 'EEEE, dd MMM yyyy' }}</span>
    <button
      mat-icon-button
      class="info-btn"
      matTooltip="{{
        filterParams.all
          ? 'Toate evenimentele'
          : 'Informatii despre ' +
            (this.isDaily() ? 'ziua' : 'saptamana') +
            ' actuala: &#13;' +
            this.date.toLocaleDateString() +
            (this.isWeekly() ? ' - ' + this.getEndDateForWeekly().toLocaleDateString() : '')
      }}
        &#13;
        Evenimente: {{ this.events.length }}
        Ore inregistrate: {{ this.getNrOfHours() }}
        {{
        isEmployee()
          ? '&#13;
         Activitatate didactica: ' +
            getNrOfActivityTypeEvents('Activitate didactica') +
            ' (' +
            getNrOfHoursForActivityTypeEvents('Activitate didactica') +
            ' ore)
         Proiect: ' +
            getNrOfActivityTypeEvents('Proiect') +
            ' (' +
            getNrOfHoursForActivityTypeEvents('Proiect') +
            ' ore)
         Concediu: ' +
            getNrOfActivityTypeEvents('Concediu') +
            ' zile
         Alta activitate: ' +
            getNrOfActivityTypeEvents('Alta activitate') +
            ' (' +
            getNrOfHoursForActivityTypeEvents('Alta activitate') +
            ' ore)
         &#13;Norma de baza: ' +
            getNrOfTypeEvents('norma de baza') +
            ' (' +
            getNrOfHoursForTypeEvents('norma de baza') +
            ' ore)
         Plata cu ora: ' +
            getNrOfTypeEvents('plata cu ora') +
            ' (' +
            getNrOfHoursForTypeEvents('plata cu ora') +
            ' ore)'
          : ''
      }}"
      matTooltipPosition="left"
      matTooltipClass="info-tooltip"
    >
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div class="calendar-header">
    <app-calendar-header
      (goBackwards)="goBackwards()"
      (goForwards)="goForwards()"
      (setWeekly)="setWeekly()"
      (setDaily)="setDaily()"
      (goToToday)="goToToday()"
      (goToDay)="goToDay($event)"
      [isWeekly]="isWeekly()"
      [isTodayVisible]="isTodayVisible()"
      [date]="date"
      (addEvent)="openAddEventDialog()"
      (changeMode)="changeMode()"
      [mode]="viewMode"
      (copyEvents)="openCopyEventsDialog()"
    ></app-calendar-header>
  </div>
  <div *ngIf="viewMode === 'calendar'">
    <div *ngIf="isWeekly()">
      <mwl-calendar-week-view
        [viewDate]="date"
        locale="ro"
        class="calendar"
        [hourSegments]="1"
        [hourSegmentHeight]="50"
        [hourSegmentTemplate]="hourSegmentTemplateWeek"
        [headerTemplate]="headerTemplateWeek"
        (dayHeaderClicked)="setDay($event)"
        (beforeViewRender)="setWeekInterval($event)"
        (hourSegmentClicked)="openAddEventDialog($event)"
        [events]="events"
        [eventTemplate]="eventTemplate"
        (eventClicked)="openEvent($event)"
        ><span></span
      ></mwl-calendar-week-view>
    </div>

    <div *ngIf="isDaily()">
      <div class="daily-header cal-header" [class.header-weekend]="isWeekend(this.date)" [class.header-today]="isToday(this.date)">
        <b>{{ this.date | calendarDate: 'weekViewColumnHeader' }}</b> -
        <span style="opacity: 50%">{{ this.date | calendarDate: 'weekViewColumnSubHeader' }}</span>
        <br />
        <span style="opacity: 50%">{{ getNrOfHoursOnDay(this.date) }} ore</span>
      </div>
      <mwl-calendar-day-view
        [viewDate]="date"
        locale="ro"
        class="calendar"
        [hourSegments]="1"
        [hourSegmentHeight]="50"
        [hourSegmentTemplate]="hourSegmentTemplateDay"
        (hourSegmentClicked)="openAddEventDialog($event)"
        [events]="events"
        [eventTemplate]="eventTemplate"
        (eventClicked)="openEvent($event)"
      ></mwl-calendar-day-view>
    </div>
  </div>

  <div class="list-body" *ngIf="viewMode === 'list'">
    <app-events-list
      [events]="eventsForList()"
      (filterEvents)="filterEvents($event)"
      (goToDay)="setDaily($event)"
      (editEvent)="editEvent($event)"
      [startDate]="date"
      [isWeekly]="isWeekly()"
      [allEvents]="filterParams.all"
      (copyEvent)="copyEvent($event)"
    ></app-events-list>
  </div>
</div>

<ng-template #hourSegmentTemplateDay let-segment="segment">
  <div class="segment-container" [class.segment-weekend]="isWeekend(segment.date)" [class.segment-today]="isToday(segment.date)">
    <div class="hour-display-day">
      <span
        ><b>{{ segment.displayDate | date: 'HH:mm' }}</b></span
      >
    </div>
  </div>
</ng-template>

<ng-template #hourSegmentTemplateWeek let-segment="segment" let-isTimeLabel="isTimeLabel">
  <div
    [class.segment-container]="!isTimeLabel"
    [class.segment-weekend]="isWeekend(segment.date)"
    [class.segment-today]="!isTimeLabel && isToday(segment.date)"
  >
    <div *ngIf="isTimeLabel" class="hour-segment">
      <span
        ><b>{{ segment.displayDate | date: 'HH:mm' }}</b></span
      >
    </div>
  </div>
</ng-template>

<ng-template
  #headerTemplateWeek
  let-days="days"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
  let-dayHeaderClicked="dayHeaderClicked"
>
  <div class="cal-day-headers" role="row">
    <div
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.header-today]="day.isToday"
      [class.header-weekend]="day.isWeekend"
      class="cal-header"
      tabindex="0"
      role="columnheader"
      (mwlClick)="dayHeaderClicked.emit({ day: day, sourceEvent: $event })"
    >
      <b>{{ day.date | calendarDate: 'weekViewColumnHeader' }}</b> -
      <span>{{ day.date | calendarDate: 'weekViewColumnSubHeader' }}</span>
      <br />
      <span>{{ getNrOfHoursOnDay(day.date) }} ore</span>
    </div>
  </div>
</ng-template>

<ng-template #eventTemplate let-weekEvent="weekEvent" let-eventClicked="eventClicked" let-column="column">
  <div
    class="cal-event"
    [ngStyle]="{
      backgroundColor: weekEvent.event.color?.secondary,
      border: '0',
      margin: '0',
      borderRadius: '7px 7px 0 0'
    }"
    (mwlClick)="eventClicked.emit({ sourceEvent: $event })"
    tabindex="0"
    role="application"
    [class.allDayEvent]="weekEvent.event.allDay"
  >
    <div class="activity-event">
      {{ weekEvent.event.activity == 'Proiect' ? weekEvent.event.activity : weekEvent.event.subactivity }}
      <span *ngIf="weekEvent.event.type === 'plata cu ora' && isEmployee()"> - Plata cu ora</span>
    </div>
    <div class="activity-event" *ngIf="weekEvent.event.start.getHours() !== 0 || weekEvent.event.end.getHours() !== 0">
      {{ weekEvent.event.start | date: 'HH:mm' | titlecase }} -
      {{ weekEvent.event.end.getHours() === 0 ? '24:00' : (weekEvent.event.end | date: 'HH:mm' | titlecase) }}
    </div>
  </div>
</ng-template>
