<app-top-bar></app-top-bar>

<div class="calendar-container">
  <div class="calendar-header">
    <app-calendar-header
      (goBackwards)="goBackwards()"
      (goForwards)="goForwards()"
      (setWeekly)="setWeekly()"
      [isDaily]="isDaily()"
      [date]="date"
    ></app-calendar-header>
  </div>
  <div class="calendar-body">
    <div *ngIf="isWeekly()">
      <mwl-calendar-week-view
        [viewDate]="viewDate"
        locale="ro"
        class="calendar"
        [dayStartHour]="8"
        [dayEndHour]="22"
        (dayHeaderClicked)="setDay($event)"
        (beforeViewRender)="setWeekInterval($event)"
      ></mwl-calendar-week-view>
    </div>

    <div *ngIf="isDaily()">
      <mwl-calendar-day-view
        [viewDate]="viewDate"
        locale="ro"
        class="calendar"
        [dayStartHour]="8"
        [dayEndHour]="22"
      ></mwl-calendar-day-view>
    </div>
  </div>
</div>
