<div class="modal-header">
  <h5 class="modal-title">
    <span>{{ 'project.add' | translate }}</span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" role="form" name="addProjectForm">
    <div>
      <h6>
        <span>{{ 'project.name' | translate }}</span>
      </h6>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input matInput formControlName="projectName" />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div>
          <span>{{ 'project.nrOfHoursPerMonth' | translate }}</span>
        </div>
        <div>
          <mat-form-field>
            <mat-label>{{ 'project.hoursPerMonth' | translate }}</mat-label>
            <input type="number" min="0" matInput formControlName="projectHoursPerMonth" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <span>{{ 'project.startHourRestriction' | translate }}</span>
        </div>
        <div>
          <mat-form-field>
            <mat-label>{{ 'startHour' | translate }}</mat-label>
            <input type="number" min="0" max="23" matInput formControlName="projectRestrictedStartHour" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <span>{{ 'project.endHourRestriction' | translate }}</span>
        </div>
        <div>
          <mat-form-field>
            <mat-label>{{ 'endHour' | translate }}</mat-label>
            <input type="number" min="1" max="24" matInput formControlName="projectRestrictedEndHour" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="header-margin-top">
      <h6>
        <span>{{ 'project.description' | translate }}</span>
      </h6>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>{{ 'description' | translate }}</mat-label>
        <textarea matInput formControlName="projectDescription" class="description-textarea"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    mat-raised-button
    [disabled]="notAllFieldsAreFilled()"
    [class.hover-btn]="!notAllFieldsAreFilled()"
    class="upt-btn"
    [mat-dialog-close]="sendProject()"
    cdkFocusInitial
  >
    {{ 'action.save' | translate }}
  </button>
</div>
