<div class="modal-header">
  <h5 class="modal-title">
    <div class="row">
      <span>{{ 'event.copy.events' | translate }}</span>
    </div>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'event.copy.wantToCopy' | translate }}</mat-label>
      <mat-select [(ngModel)]="data.mode" name="mode">
        <mat-option [value]="'daily'">{{ 'event.copy.day' | translate }}</mat-option>
        <mat-option [value]="'weekly'">{{ 'event.copy.week' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="title">
    <h6>
      <span>{{
        'event.copy.allEvents' | translate: { dateType: data.mode === 'daily' ? ('event.day' | translate) : ('event.week' | translate) }
      }}</span>
    </h6>
  </div>
  <div>
    <mat-form-field appearance="fill" *ngIf="data.mode === 'weekly'">
      <mat-label>{{ 'calendar.chooseWeek' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="data.date" />
        <input matEndDate [value]="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="data.mode === 'daily'">
      <mat-label>{{ 'calendar.chooseDay' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="title">
    <h6>
      <span>{{
        'event.copy.in' | translate: { dateType: data.mode === 'daily' ? ('event.day' | translate) : ('event.week' | translate) }
      }}</span>
    </h6>
  </div>
  <div>
    <mat-form-field appearance="fill" *ngIf="data.mode === 'weekly'">
      <mat-label>{{ 'calendar.chooseWeek' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="copyDate" />
        <input matEndDate [value]="endCopyDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="data.mode === 'daily'">
      <mat-label>{{ 'calendar.chooseDay' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="copyDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox [checked]="move" [color]="'primary'" (change)="setMove($event.checked)">{{ 'event.copy.move' | translate }}</mat-checkbox>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button class="upt-btn" [mat-dialog-close]="sendData()" cdkFocusInitial>{{ 'action.copy' | translate }}</button>
</div>
