<div class="modal-header">
  <h5 class="modal-title">
    <span>{{ dialogTitle }}</span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'calendar.chooseDay' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" (dateChange)="dateChanged()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="hour-field">
      <mat-label>{{ 'startHour' | translate }}</mat-label>
      <mat-select [(ngModel)]="startHour" name="startHour" [disabled]="allDay">
        <mat-option *ngFor="let hour of startHours()" [value]="hour.value">
          {{ hour.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="hours-delimiter" [class.grey-delimiter]="allDay">-</span>
    <mat-form-field appearance="fill" class="hour-field">
      <mat-label>{{ 'endHour' | translate }}</mat-label>
      <mat-select [(ngModel)]="endHour" name="endHour" [disabled]="allDay">
        <mat-option *ngFor="let hour of endHours()" [value]="hour.value">
          {{ hour.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="choose-activity">
    <h6>
      <span>{{ 'event.activity.choose' | translate }}</span>
    </h6>
  </div>
  <div>
    <mat-form-field appearance="fill" class="activity-field">
      <mat-label>{{ 'event.activity.type' | translate }}</mat-label>
      <mat-select [(ngModel)]="activity" name="activity" (selectionChange)="activitySelected()">
        <mat-option *ngFor="let activity of activities" [value]="activity">
          {{ 'event.activity.' + activity | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="sub-activity-field" *ngIf="activity != undefined && activity != 'project'">
      <mat-label>{{ 'event.activity.subtype' | translate }}</mat-label>
      <mat-select [(ngModel)]="subactivity" name="subactivity" (selectionChange)="subactivitySelected()">
        <mat-option *ngFor="let subactivity of subactivities" [value]="subactivity">
          {{ 'event.subactivity.' + subactivity | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field
      appearance="fill"
      class="entity-field"
      *ngIf="(activity === 'courseHour' && subactivity != undefined) || activity === 'project'"
    >
      <mat-label>{{ 'event.activity.' + activity | translate }}</mat-label>
      <mat-select [(ngModel)]="entity" name="entity" (selectionChange)="entitySelected()">
        <mat-option *ngFor="let entity of entities" [value]="entity">
          {{ entity.name }}
        </mat-option>
        <mat-option *ngIf="entities.length === 0" (click)="addNewEntity()">
          <mat-icon>add_circle_outline</mat-icon>
          {{ activity === 'courseHour' ? ('course' + '.addNew' | translate) : ('project' + '.addNew' | translate) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="choose-activity">
    <h6>
      <span>{{ 'event.performedActivityDescription' | translate }}</span>
    </h6>
  </div>
  <div>
    <mat-form-field class="description-field">
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea matInput class="description-textarea" [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>
  <div *ngIf="!isEditMode()">
    <mat-form-field appearance="fill" class="activity-field">
      <mat-label>{{ 'event.recurrence.recurrent' | translate }}</mat-label>
      <mat-select [(ngModel)]="recurrent" name="recurrent" (selectionChange)="setRecurrentDate()">
        <mat-option *ngFor="let recurrent of recurrentValues()" [value]="recurrent">
          {{ 'event.recurrence.' + recurrent | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="recurrent-end-date" *ngIf="recurrentSelected()">
      <mat-label>{{ 'event.recurrence.until' | translate }}</mat-label>
      <input matInput [readonly]="true" [value]="recurrentEnding" />
      <input
        [matDatepicker]="picker"
        hidden
        appDateFormat
        [recurrent]="recurrent"
        (recurrentValue)="setRecurrentEnding($event)"
        [recurrentDate]="recurrentEndingDate"
        [min]="getMinDate()"
        (dateChange)="daySelected($event, picker)"
        [matDatepickerFilter]="weeklyRecurrentDateFilter"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (yearSelected)="yearSelected($event, picker)"
        (monthSelected)="monthSelected($event, picker)"
      ></mat-datepicker>
    </mat-form-field>
    <span class="reset-recurrent" (click)="resetRecurrent()" *ngIf="recurrentSelected()"
      ><u>
        {{ 'event.recurrence.resetRecurrence' | translate }}
      </u></span
    >
  </div>
  <div *ngIf="!isEditMode()">
    <mat-checkbox
      class="weekends-too"
      [checked]="weekendsToo"
      [color]="'primary'"
      (change)="setWeekendsToo($event.checked)"
      *ngIf="!isWeeklyRecurrent()"
    >
      {{ 'event.recurrence.includeWeekends' | translate }}
    </mat-checkbox>
  </div>
</div>
<div class="modal-footer">
  <div class="type-message-container row" *ngIf="typeMessage">
    <div class="col-xs-1"><mat-icon>info</mat-icon></div>
    <div class="col-sm-10 type-message-grid">
      <span class="type-message">{{ typeMessage }}</span>
    </div>
  </div>
  <button
    mat-raised-button
    [disabled]="notAllFieldsAreFilled()"
    class="upt-btn confirm-btn"
    [mat-dialog-close]="sendData()"
    cdkFocusInitial
  >
    {{ 'action.confirm' | translate }}
  </button>
</div>
