<div class="modal-header">
  <h5 class="modal-title">
    <span>{{ dialogTitle }}</span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div>
    <h6>
      <span>{{ data.date | date: 'EEEE, dd MMM yyyy' | titlecase }}</span>
    </h6>
  </div>
  <div>
    <mat-form-field appearance="fill" class="hour-field">
      <mat-label>Ora de inceput</mat-label>
      <mat-select [(ngModel)]="startHour" name="startHour" [disabled]="allDay">
        <mat-option *ngFor="let hour of startHours()" [value]="hour.value">
          {{ hour.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="hours-delimiter">-</span>
    <mat-form-field appearance="fill" class="hour-field">
      <mat-label>Ora de sfarsit</mat-label>
      <mat-select [(ngModel)]="endHour" name="endHour" [disabled]="allDay">
        <mat-option *ngFor="let hour of endHours()" [value]="hour.value">
          {{ hour.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox class="check-all-day" [checked]="allDay" [color]="'primary'" (change)="setAllDay($event.checked)"
      >Toata ziua</mat-checkbox
    >
  </div>
  <div class="choose-activity">
    <h6>
      <span>Alege o activitate</span>
    </h6>
  </div>
  <div>
    <mat-form-field appearance="fill" class="activity-field">
      <mat-label>Tipul activitatii</mat-label>
      <mat-select [(ngModel)]="activity" name="activity" (selectionChange)="activitySelected()">
        <mat-option *ngFor="let activity of ACTIVITIES" [value]="activity">
          {{ activity }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="sub-activity-field" *ngIf="activity != undefined && activity != 'Proiect'">
      <mat-label>Subtipul activitatii</mat-label>
      <mat-select [(ngModel)]="subactivity" name="subactivity" (selectionChange)="subactivitySelected()">
        <mat-option *ngFor="let subactivity of subactivities" [value]="subactivity">
          {{ subactivity }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field
      appearance="fill"
      class="entity-field"
      *ngIf="(activity === 'Activitate didactica' && subactivity != undefined) || activity === 'Proiect'"
    >
      <mat-label>{{ activity }}</mat-label>
      <mat-select [(ngModel)]="entity" name="entity">
        <mat-option *ngFor="let entity of entities" [value]="entity">
          {{ entity.name }}
        </mat-option>
        <mat-option *ngIf="entities.length === 0" (click)="addNewEntity()">
          <mat-icon>add_circle_outline</mat-icon> Adauga un nou {{ activity === 'Activitate didactica' ? 'curs' : 'proiect' }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="choose-activity">
    <h6>
      <span>Descrierea activitatii desfasurate</span>
    </h6>
  </div>
  <div>
    <mat-form-field class="description-field">
      <mat-label>Descriere</mat-label>
      <textarea matInput class="description-textarea" [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="activity-field">
      <mat-label>Recurenta</mat-label>
      <mat-select [(ngModel)]="recurrent" name="recurrent" (selectionChange)="setRecurrentDate()">
        <mat-option *ngFor="let recurrent of recurrentValues()" [value]="recurrent">
          {{ recurrent }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="recurrent-end-date" *ngIf="recurrentSelected()">
      <mat-label>Pana in</mat-label>
      <input matInput [readonly]="true" [value]="recurrentEnding" />
      <input
        [matDatepicker]="picker"
        hidden
        appDateFormat
        [recurrent]="recurrent"
        (recurrentValue)="setRecurrentEnding($event)"
        [recurrentDate]="recurrentEndingDate"
        [min]="getMinDate()"
        (dateChange)="daySelected($event, picker)"
        [matDatepickerFilter]="weeklyRecurrentDateFilter"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (yearSelected)="yearSelected($event, picker)"
        (monthSelected)="monthSelected($event, picker)"
      ></mat-datepicker>
    </mat-form-field>
    <span class="reset-recurrent" (click)="resetRecurrent()" *ngIf="recurrentSelected()"><u>Reseteaza recurenta</u></span>
  </div>
  <div>
    <mat-checkbox
      class="weekends-too"
      [checked]="weekendsToo"
      [color]="'primary'"
      (change)="setWeekendsToo($event.checked)"
      *ngIf="!isWeeklyRecurrent()"
    >
      Include si zilele de weekend
    </mat-checkbox>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button [disabled]="notAllFieldsAreFilled()" class="upt-btn" [mat-dialog-close]="sendData()" cdkFocusInitial>
    Confirm
  </button>
</div>
