.display-flex
  display: flex
  justify-content: space-between
  align-items: center

.top-bar
  background: #fff
  z-index: 1002
  padding: 0 15px 0 0
  border-bottom: 1px solid #f3f3f3

.community-logo
  width: 130px
  height: 30px
  background: transparent
  background-size: contain !important
  background-repeat: no-repeat !important
