<div class="top-bar">
  <a title="Pontaj UPT" class="navbar-brand no-margin">
    <div class="upt-logo-container">
      <img class="upt-logo" src="../../../assets/images/upt_logo_top_bar.jpg" alt="UPT" />
    </div>
  </a>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openCoursesDialog()" *ngIf="isNotAdmin()">
    {{ 'course.my' | translate }}
  </button>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openProjectsDialog()" *ngIf="isEmployee()">
    {{ 'project.my' | translate }}
  </button>
  <button mat-flat-button [matMenuTriggerFor]="reportMenu" class="upt-btn top-bar-btn" *ngIf="isNotAdmin()">
    {{ 'report.exportReports' | translate }}
  </button>
  <mat-menu #reportMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="projectMenu" class="upt-secondary-btn report-btn">
      {{ 'report.projectReport' | translate }}
    </button>
    <mat-menu #projectMenu="matMenu">
      <button
        *ngFor="let project of projects"
        mat-menu-item
        class="upt-secondary-btn report-btn"
        (click)="openDownloadReportDialog(project)"
      >
        {{ project.name }}
      </button>
    </mat-menu>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account" class="account">
    <mat-icon class="user_icon">person_pin</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="upt-secondary-btn" (click)="openPersonalInfoDialog()">
      {{ 'user.personalInfo' | translate }}
    </button>
    <button mat-menu-item class="upt-secondary-btn" (click)="openSettingsDialog()">
      {{ 'user.settings' | translate }}
    </button>
    <button mat-menu-item class="upt-secondary-btn" (click)="logout()">
      {{ 'user.logout' | translate }}
    </button>
  </mat-menu>
</div>
