<div class="top-bar">
  <a [routerLink]="['/dashboard']" title="Pontaj UPT" class="navbar-brand no-margin">
    <div class="upt-logo-container">
      <img class="upt-logo" src="../../../assets/images/upt_logo_top_bar.jpg" alt="UPT" />
    </div>
  </a>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openCoursesDialog()">Cursurile mele</button>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openProjectsDialog()">Proiectele mele</button>
  <button mat-flat-button class="upt-btn top-bar-btn">Exporta rapoarte</button>
  <div class="logout">
    <a (click)="logout()" title="Iesi din cont" class="navbar-brand logout">
      <span><u>Iesi din cont</u></span>
    </a>
  </div>
</div>
