<div class="top-bar">
  <a title="Pontaj UPT" class="navbar-brand no-margin">
    <div class="upt-logo-container">
      <img class="upt-logo" src="../../../assets/images/upt_logo_top_bar.jpg" alt="UPT" />
    </div>
  </a>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openCoursesDialog()">Cursurile mele</button>
  <button mat-flat-button class="upt-btn top-bar-btn" (click)="openProjectsDialog()" *ngIf="isEmployee()">Proiectele mele</button>
  <button mat-flat-button class="upt-btn top-bar-btn">Exporta rapoarte</button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account" class="account">
    <mat-icon class="user_icon">person_pin</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="upt-secondary-btn" (click)="openPersonalInfoDialog()">Informatii personale</button>
    <button mat-menu-item class="upt-secondary-btn" (click)="openSettingsDialog()">Setari</button>
    <button mat-menu-item class="upt-secondary-btn" (click)="logout()">Iesi din cont</button>
  </mat-menu>
</div>
