<div class="modal-header">
  <h5 class="modal-title">
    <span> Adauga o noua inregistrare </span>
  </h5>
  <button mat-flat-button class="close-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div class="date">
    <h6>
      <span>{{ data.date | date: 'EEEE, dd MMM yyyy' | titlecase }}</span>
    </h6>
  </div>
  <mat-form-field appearance="fill" class="hour-field">
    <mat-label>Ora de inceput</mat-label>
    <mat-select [(ngModel)]="selectedStartHour" name="startHour" [disabled]="allDay">
      <mat-option *ngFor="let hour of startHours()" [value]="hour.value">
        {{ hour.displayValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="hours-delimiter">-</span>
  <mat-form-field appearance="fill" class="hour-field">
    <mat-label>Ora de sfarsit</mat-label>
    <mat-select [(ngModel)]="selectedEndHour" name="endHour" [disabled]="allDay">
      <mat-option *ngFor="let hour of endHours()" [value]="hour.value">
        {{ hour.displayValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="check-all-day" [checked]="allDay" [color]="'primary'" (change)="setAllDay($event.checked)">Toata ziua</mat-checkbox>
</div>
<div class="modal-footer">
  <button mat-raised-button class="upt-btn" [mat-dialog-close]="sendData()" cdkFocusInitial>Confirm</button>
</div>
