.close-btn
  background-color: transparent
  cursor: pointer
  border: 0

.hour-field
  margin-top: 20px
  width: 120px
  font-size: 12px

.hours-delimiter
  margin-left: 20px
  margin-right: 20px
  font-size: 25px

.check-all-day
  margin-left: 30px
