<div class="modal-header">
  <h5 class="modal-title">
    <span> Informatii personale </span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" role="form" name="personalInformationForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="name-field-width">
          <mat-label>Prenume</mat-label>
          <input matInput placeholder="Prenume" formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="name-field-width">
          <mat-label>Nume</mat-label>
          <input matInput placeholder="Nume" formControlName="lastName" />
        </mat-form-field>
      </div>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>Email</mat-label>
        <input matInput [value]="data.user.email" disabled />
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>Tipul utilizatorului</mat-label>
        <input matInput [value]="data.user.type" disabled />
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button mat-raised-button [disabled]="notAllFieldsAreFilled()" class="upt-btn" [mat-dialog-close]="sendData()" cdkFocusInitial>
    Confirm
  </button>
</div>
