<div class="modal-header">
  <h5 class="modal-title">
    <span>{{ 'user.personalInfo' | translate }}</span>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" role="form" name="personalInformationForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="name-field-width">
          <mat-label>{{ 'login.firstName' | translate }}</mat-label>
          <input matInput placeholder="{{ 'login.firstName' | translate }}" formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="name-field-width">
          <mat-label>{{ 'login.lastName' | translate }}</mat-label>
          <input matInput placeholder="{{ 'login.lastName' | translate }}" formControlName="lastName" />
        </mat-form-field>
      </div>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>{{ 'login.emailAddress' | translate }}</mat-label>
        <input matInput [value]="data.user.email" disabled />
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>{{ 'userType' | translate }}</mat-label>
        <input matInput [value]="displayUserType()" disabled />
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>{{ 'login.department' | translate }}</mat-label>
        <input matInput placeholder="{{ 'login.department' | translate }}" formControlName="department" />
      </mat-form-field>
    </div>
    <div class="margin-top">
      <mat-form-field class="field-width">
        <mat-label>{{ 'login.didacticDegree' | translate }}</mat-label>
        <mat-select formControlName="didacticDegree">
          <mat-option *ngFor="let didacticDegree of DIDACTIC_DEGREES" [value]="didacticDegree">
            {{ 'user.didacticDegrees.' + didacticDegree | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button mat-raised-button [disabled]="notAllFieldsAreFilled()" class="upt-btn" [mat-dialog-close]="sendData()" cdkFocusInitial>
    {{ 'action.confirm' | translate }}
  </button>
</div>
