<div class="formWrapper">
  <div class="text-center">
    <div class="container__full-width">
      <div class="upt-logo-container">
        <img class="upt-logo" src="../../../assets/images/upt_logo_horizontal.jpg" alt="UPT" />
      </div>
      <div class="formContainer">
        <form [formGroup]="formGroup" role="form" name="loginForm">
          <h2>{{ 'login.loginLabel' | translate }}</h2>
          <mat-form-field class="form-field">
            <mat-label for="userEmail">{{ 'login.emailAddress' | translate }}</mat-label>
            <input matInput id="userEmail" name="email" type="email" formControlName="userEmail" required="required" />
          </mat-form-field>
          <mat-form-field class="form-field" [hidden]="resetPassOn">
            <mat-label for="userPassword">{{ 'login.password' | translate }}</mat-label>
            <input matInput id="userPassword" name="password" type="password" formControlName="userPassword" required="required" />
          </mat-form-field>
          <div class="form-group-button" [hidden]="resetPassOn">
            <button mat-raised-button (click)="login()" class="upt-btn">{{ 'login.login' | translate }}</button>
          </div>
          <div>
            <button (click)="resetPassword()" class="upt-btn reset-password-btn" [hidden]="resetPassOn">
              {{ 'login.resetPassword' | translate }}
            </button>
          </div>
          <div class="form-group-button" [hidden]="resetPassOn">
            <button mat-raised-button (click)="signup()" class="upt-secondary-btn">{{ 'login.signUp' | translate }}</button>
          </div>
          <div>
            <button mat-raised-button (click)="sendEmail()" class="upt-btn" [hidden]="!resetPassOn">
              {{ 'login.sendEmailLabel' | translate }}
            </button>
          </div>
          <div>
            <button mat-raised-button (click)="goBackFromReset()" class="upt-secondary-btn back-btn" [hidden]="!resetPassOn">
              {{ 'login.back' | translate }}
            </button>
          </div>
          <div class="flags">
            <img (click)="setRomanian()" src="../../../assets/images/ro_flag.png" />
            <img (click)="setEnglish()" class="flag-elem" src="../../../assets/images/en_flag.jpg" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
