.formWrapper
  margin-top: 5%
  display: flex
  min-height: 440px
  width: 1140px
  justify-content: center
  margin-right: auto
  margin-left: auto

  .container__full-width
    width: 100%

    .upt-logo
      width: 100%

    .formContainer
      margin-top: 5%
      display: flex
      min-height: 320px
      width: 634px
      justify-content: center
      margin-right: auto
      margin-left: auto

      h2
        color: #00135f

      .form-group
        margin-bottom: 10px

        .formLabel
          position: relative
          font-size: 12px
          color: #00135f

        .form-control
          position: relative
          float: right

      .form-group-button
        display: flex
        justify-content: center
        margin-top: 20px

        .login-btn
          cursor: pointer
          background: #5e5d5b
          color: #fff
          border-radius: 2px
          border: 1px solid transparent
          padding: 5px 15px

          &:hover
            border-color: rgba( 0, 0, 0, 0.07 )
            background-color: #00135f

      .errorContainer
        color: #ff3333
        margin-top: 15px
        display: flex
        justify-content: center
