<div class="modal-header">
  <h5 class="modal-title">
    <div class="row">
      <span>{{ 'course.my' | translate }}</span>
      <div class="count">{{ courses.data.length }}</div>
    </div>
  </h5>
  <button mat-flat-button class="close-dialog-btn" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div class="table-container">
    <table mat-table [dataSource]="courses">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="checkAll($event.checked)"
            [checked]="courses.data.length !== 0 && selectedCourses.length === courses.data.length"
            class="select-checkbox"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let course">
          <mat-checkbox
            color="primary"
            (change)="checkCourse($event.checked, course)"
            [checked]="isCourseChecked(course)"
            class="select-checkbox"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="nr_crt">
        <th mat-header-cell *matHeaderCellDef>{{ 'nr' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ courses.data.indexOf(course) + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ course.name }}</td>
      </ng-container>
      <ng-container matColumnDef="student_year">
        <th mat-header-cell *matHeaderCellDef>{{ 'course.yearOfStudy' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ course.student_year }}</td>
      </ng-container>
      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef>{{ 'course.semester' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ course.semester }}</td>
      </ng-container>
      <ng-container matColumnDef="cycle">
        <th mat-header-cell *matHeaderCellDef>{{ 'course.cycle' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ 'course.cycles.' + course.cycle | translate }}</td>
      </ng-container>
      <ng-container matColumnDef="faculty">
        <th mat-header-cell *matHeaderCellDef>{{ 'course.faculty' | translate }}</th>
        <td mat-cell *matCellDef="let course">{{ course.faculty }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'description' | translate }}</th>
        <td mat-cell *matCellDef="let course" class="description">{{ course.description }}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let course">
          <button mat-mini-fab title="{{ 'action.edit' | translate }}" class="action-button" aria-label="Edit" (click)="editCourse(course)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let course">
          <button
            mat-mini-fab
            title="{{ 'action.delete' | translate }}"
            class="action-button"
            aria-label="Delete"
            (click)="deleteCourse(course)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="add_event">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let course">
          <button mat-mini-fab title="{{ 'event.add' | translate }}" class="action-button" aria-label="AddEvent" (click)="addEvent(course)">
            <mat-icon>access_time</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button class="upt-primary-btn" (click)="deleteSelected()" [hidden]="selectedCourses.length === 0">
    {{ 'course.delete' | translate }}
  </button>
  <button mat-raised-button class="upt-primary-btn" (click)="exportCourses()" [hidden]="selectedCourses.length === 0">
    {{ 'course.export' | translate }}
  </button>
  <button mat-button [matMenuTriggerFor]="menu" class="upt-btn">{{ 'course.import' | translate }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="downloadTemplate()" class="upt-secondary-btn">{{ 'action.downloadTemplate' | translate }}</button>
    <button mat-menu-item (click)="file.click()" class="upt-secondary-btn">{{ 'action.importFile' | translate }}</button>
    <input (change)="importFile($event)" type="file" #file hidden />
  </mat-menu>
  <button mat-raised-button class="upt-btn" (click)="addCourse()" cdkFocusInitial>{{ 'course.add' | translate }}</button>
</div>
