table
  width: 100%

.table-container
  height: 600px
  overflow: auto

.mat-column-select
  width: 3% !important
  padding: 10px

.mat-column-nr_crt
  width: 4% !important
  padding: 10px

.mat-column-name
  width: 17% !important
  word-break: break-word
  padding: 10px

.mat-column-student_year
  width: 5% !important
  text-align: center

.mat-column-semester
  width: 5% !important
  text-align: center

.mat-column-cycle
  width: 8% !important
  text-align: center
  padding: 10px

.mat-column-faculty
  width: 17% !important
  word-break: break-word
  padding: 10px

.mat-column-description
  width: 35% !important
  word-break: break-word
  padding: 10px

.mat-column-edit
  width: 2% !important
  padding: 10px

.mat-column-delete
  width: 2% !important
  padding: 10px

.mat-column-add_event
  width: 2% !important
  padding: 10px

.count
  background-color: rgb(183, 4, 4)
  color: #fff
  margin-left: 20px
  border-radius: 20px
  font-size: 14px
  height: 30px
  width: fit-content
  min-width: 30px
  text-align: center
  padding: 4px

.action-button
  background-color: #5e5d5b
  width: 30px
  height: 30px
  &:hover
    background-color: rgb(183, 4, 4)
  &:focus
    outline: none

.mat-mini-fab
  &::ng-deep .mat-button-wrapper
    padding: 0

.mat-icon
  font-size: 16px

.select-checkbox
  margin-top: 7px

.description
  font-size: 12px
  color: #959993

.upt-primary-btn
  background-color: rgb(183, 4, 4)

.upt-btn
  &:hover
    background-color: rgb(183, 4, 4)

.upt-secondary-btn
  color: rgb(183, 4, 4)
