@import "./../node_modules/bootstrap/scss/bootstrap.scss"
@import "./../node_modules/font-awesome/css/font-awesome.css"
@import "./../node_modules/ladda/dist/ladda.min.css"
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

body
  margin: 0

.upt-btn
  cursor: pointer
  background-color: #5e5d5b
  color: #fff
  &:hover
    background-color: #00135f
  &:focus
    outline: none

.upt-primary-btn
  cursor: pointer
  background-color: #00135f
  color: #fff

.close-dialog-btn
  background-color: transparent
  cursor: pointer
  border: 0
  &:focus
    outline: none

.upt-secondary-btn
  cursor: pointer
  background-color: #fff
  color: #00135f
  height: 36px
  &:focus
    outline: none

.modal-body
  margin-top: 20px

.cal-week-view .cal-time-events
  max-height: 800px
  overflow-y: auto

.cal-day-view .cal-time-events
  max-height: 800px
  overflow-y: auto

.success-notification
  background-color: green

.error-notification
  background-color: red

.notification
  color: white
  .mat-focus-indicator
    color: white
    &:focus
      outline: none
