.select-checkbox
  margin-top: 7px

.table-container
  overflow: auto
  width: 100%
  margin-top: 10px

.mat-column-select
  width: 3% !important
  padding: 10px

.mat-column-selectFilter
  width: 3% !important
  border: 0

.mat-column-nr_crt
  width: 4% !important
  padding: 10px

.mat-column-nrCrtFilter
  width: 4% !important
  border: 0

.mat-column-subactivity
  width: 24% !important
  word-break: break-word
  padding: 10px

.mat-column-subactivityFilter
  width: 24% !important
  border: 0

.mat-column-activity
  width: 24% !important
  word-break: break-word
  padding: 10px

.mat-column-activityFilter
  width: 24% !important
  border: 0

.mat-column-date
  width: 17% !important
  word-break: break-word
  padding: 10px

.mat-column-dateFilter
  width: 17% !important
  border: 0

.mat-column-start
  width: 7% !important
  word-break: break-word
  text-align: right
  padding: 10px

.mat-column-end
  width: 7% !important
  word-break: break-word
  text-align: left
  padding: 10px

.mat-column-hours
  width: 5% !important
  word-break: break-word
  text-align: right
  padding: 10px

.mat-column-edit
  width: 7% !important
  padding: 10px
  text-align: right

.mat-column-delete
  width: 2% !important
  padding: 10px

.date
  cursor: pointer

.action-button
  background-color: #5e5d5b
  width: 30px
  height: 30px
  &:hover
    background-color: #00135f
  &:focus
    outline: none

.mat-mini-fab
  &::ng-deep .mat-button-wrapper
    padding: 0

.mat-icon
  font-size: 16px

.select-checkbox
  margin-top: 7px

.filter-container
  width: 70%

.remove-filter-btn
  float: right
  margin-right: 20px
  &:focus
    outline: none

  .mat-icon
    font-size: 25px
