<div class="table-container">
  <mat-grid-list cols="100" rowHeight="50px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="100" [rowspan]="1">
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn second-mode-btn"
        [disabled]="!allEvents"
        (click)="executeGetEvents()"
      >
        Evenimentele din aceasta {{ isWeekly ? 'saptamana' : 'zi' }}
      </button>
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn first-mode-btn"
        [disabled]="allEvents"
        (click)="executeGetAllEvents()"
      >
        Toate evenimentele
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="7" [rowspan]="1">
      <button mat-raised-button class="upt-primary-btn" (click)="deleteSelected()" [hidden]="selectedEvents.length === 0">Sterge</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="23" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>Filtreaza dupa subtipul activitatii:</mat-label>
        <mat-select [(ngModel)]="subactivityFilter" name="subactivityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let subactivity of subactivities" [value]="subactivity">
            {{ subactivity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="20" [rowspan]="1" *ngIf="isEmployee()">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>Filtreaza dupa tipul activitatii:</mat-label>
        <mat-select [(ngModel)]="activityFilter" name="activityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let activity of activities" [value]="activity">
            {{ activity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="22" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container date-filter-container">
        <mat-label>Filtreaza dupa data</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [value]="startDateFilter" (dateChange)="executeStartDateFilterEvents($event)" />
          <input matEndDate [value]="endDateFilter" (dateChange)="executeEndDateFilterEvents($event)" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-flat-button class="remove-date-filter-btn" (click)="removeDateFilter()">&times;</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container entity-filter">
        <mat-label class="course-filter">Filtreaza dupa curs:</mat-label>
        <mat-select [(ngModel)]="courseFilter" name="courseFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let course of courses" [value]="course" class="course-filter">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1" *ngIf="isEmployee()">
      <mat-form-field appearance="fill" class="filter-container entity-filter">
        <mat-label class="project-filter">Filtreaza dupa proiect:</mat-label>
        <mat-select [(ngModel)]="projectFilter" name="projectFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let project of projects" [value]="project" class="project-filter">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <table
    mat-table
    [dataSource]="displayEvents"
    matSort
    matSortActive="date"
    matSortDirection="desc"
    matSortDisableClear
    multiTemplateDataRows
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="0"
    (scrolled)="onScroll()"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          (change)="checkAll($event.checked)"
          [checked]="events.data.length !== 0 && selectedEvents.length === events.data.length"
          class="select-checkbox"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let event">
        <mat-checkbox
          color="primary"
          (change)="checkEvent($event.checked, event)"
          [checked]="isEventChecked(event)"
          class="select-checkbox"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nr_crt">
      <th mat-header-cell *matHeaderCellDef>Nr. crt.</th>
      <td mat-cell *matCellDef="let event">{{ displayEvents.data.indexOf(event) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="subactivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtipul activitatii</th>
      <td mat-cell *matCellDef="let event">{{ event.subactivity || event.activity }}</td>
    </ng-container>
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipul activitatii</th>
      <td
        mat-cell
        *matCellDef="let event"
        [class.color-activity-course]="event.activity === 'Activitate didactica'"
        [class.color-activity-project]="event.activity === 'Proiect'"
        [class.color-activity-other-activity]="event.activity === 'Alta activitate'"
        [class.color-activity-holiday]="event.activity === 'Concediu'"
      >
        <b>{{ event.activity }}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ziua</th>
      <td mat-cell *matCellDef="let event">
        <span (click)="executeGoToDay(event)" class="date"
          ><u>{{ event.start | date: 'EEEE, dd MMM yyyy' | titlecase }}</u></span
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Ora de inceput</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ event.start | date: 'HH:mm' }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="-">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">-</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>Ora de sfarsit</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ event.end.getHours() == 0 ? '24:00' : (event.end | date: 'HH:mm') }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>Ore</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ (event.end.getHours() === 0 ? 24 : event.end.getHours()) - event.start.getHours() }} ore
        </div>
        <div *ngIf="event.start.getHours() === 0 && event.end.getHours() === 0">Toata ziua</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="Editeaza"
          class="action-button"
          aria-label="Edit"
          (click)="executeEditEvent(event)"
          [class.activity-course]="event.activity === 'Activitate didactica'"
          [class.activity-project]="event.activity === 'Proiect'"
          [class.activity-other-activity]="event.activity === 'Alta activitate'"
          [class.activity-holiday]="event.activity === 'Concediu'"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="Sterge"
          class="action-button"
          aria-label="Delete"
          (click)="executeDeleteEvent(event)"
          [class.activity-course]="event.activity === 'Activitate didactica'"
          [class.activity-project]="event.activity === 'Proiect'"
          [class.activity-other-activity]="event.activity === 'Alta activitate'"
          [class.activity-holiday]="event.activity === 'Concediu'"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="copy">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="Copiaza"
          class="action-button"
          aria-label="Copy"
          (click)="executeCopyEvent(event)"
          [class.activity-course]="event.activity === 'Activitate didactica'"
          [class.activity-project]="event.activity === 'Proiect'"
          [class.activity-other-activity]="event.activity === 'Alta activitate'"
          [class.activity-holiday]="event.activity === 'Concediu'"
        >
          <mat-icon>file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let event" [attr.colspan]="columnNames.length">
        <div class="example-element-detail" [@detailExpand]="event == expandedEvent ? 'expanded' : 'collapsed'">
          <div
            class="expanded-date-container"
            [class.border-activity-course]="event.activity === 'Activitate didactica'"
            [class.border-activity-project]="event.activity === 'Proiect'"
            [class.border-activity-other-activity]="event.activity === 'Alta activitate'"
            [class.border-activity-holiday]="event.activity === 'Concediu'"
          >
            <div
              class="year-container"
              [class.activity-course]="event.activity === 'Activitate didactica'"
              [class.activity-project]="event.activity === 'Proiect'"
              [class.activity-other-activity]="event.activity === 'Alta activitate'"
              [class.activity-holiday]="event.activity === 'Concediu'"
            >
              {{ event.start | date: 'y' }}
            </div>
            <div
              class="day-container"
              [class.color-activity-course]="event.activity === 'Activitate didactica'"
              [class.color-activity-project]="event.activity === 'Proiect'"
              [class.color-activity-other-activity]="event.activity === 'Alta activitate'"
              [class.color-activity-holiday]="event.activity === 'Concediu'"
            >
              <div>
                <b>{{ event.start | date: 'd' }}</b>
              </div>
            </div>
            <div
              class="month-container"
              [class.color-activity-course]="event.activity === 'Activitate didactica'"
              [class.color-activity-project]="event.activity === 'Proiect'"
              [class.color-activity-other-activity]="event.activity === 'Alta activitate'"
              [class.color-activity-holiday]="event.activity === 'Concediu'"
            >
              <div>
                <b>{{ event.start | date: 'MMMM' }}</b>
              </div>
            </div>
          </div>
          <div>
            <div class="activities row">{{ event.subactivity || event.activity }} ∙ {{ event.activity }}</div>
            <div class="entity row" *ngIf="event.entity">
              {{ event.entity.name }}
            </div>
            <div class="entity-description row" *ngIf="event.entity">
              {{ getEntityDetails(event) }}
            </div>
            <div class="description row">
              {{ event.description }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnNames"
      class="example-element-row"
      [class.example-expanded-row]="expandedEvent === row"
      (click)="expandedEvent = expandedEvent === row ? null : row"
    ></tr>
    <tr mat-row *matRowDef="let &quot;expanded-row&quot;; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
