<div class="table-container">
  <mat-grid-list cols="100" rowHeight="50px">
    <mat-grid-tile [colspan]="100" [rowspan]="1">
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn second-mode-btn"
        [disabled]="allEvents"
        (click)="executeGetAllEvents()"
      >
        Toate inregistrarile
      </button>
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn first-mode-btn"
        [disabled]="!allEvents"
        (click)="executeGetEvents()"
      >
        Inregistrarile din aceasta {{ isWeekly ? 'saptamana' : 'zi' }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="7" [rowspan]="1">
      <button mat-raised-button class="upt-primary-btn" (click)="deleteSelected()" [hidden]="selectedEvents.length === 0">Sterge</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="23" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>Filtreaza dupa subtipul activitatii:</mat-label>
        <mat-select [(ngModel)]="subactivityFilter" name="subactivityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let subactivity of SUBACTIVITIES" [value]="subactivity">
            {{ subactivity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="23" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>Filtreaza dupa tipul activitatii:</mat-label>
        <mat-select [(ngModel)]="activityFilter" name="activityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let activity of ACTIVITIES" [value]="activity">
            {{ activity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="16" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container date-filter-container">
        <mat-label>Filtreaza dupa data</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [value]="startDateFilter" (dateChange)="executeStartDateFilterEvents($event)" />
          <input matEndDate [value]="endDateFilter" (dateChange)="executeEndDateFilterEvents($event)" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" class="btn-grid-tile">
      <button mat-flat-button class="remove-date-filter-btn" (click)="removeDateFilter()">&times;</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container course-filter">
        <mat-label>Filtreaza dupa curs:</mat-label>
        <mat-select [(ngModel)]="courseFilter" name="courseFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let course of courses" [value]="course">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container project-filter">
        <mat-label>Filtreaza dupa proiect:</mat-label>
        <mat-select [(ngModel)]="projectFilter" name="projectFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let project of projects" [value]="project">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <table mat-table [dataSource]="events" matSort matSortActive="date" matSortDirection="desc" matSortDisableClear>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          (change)="checkAll($event.checked)"
          [checked]="events.data.length !== 0 && selectedEvents.length === events.data.length"
          class="select-checkbox"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let event">
        <mat-checkbox
          color="primary"
          (change)="checkEvent($event.checked, event)"
          [checked]="isEventChecked(event)"
          class="select-checkbox"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nr_crt">
      <th mat-header-cell *matHeaderCellDef>Nr. crt.</th>
      <td mat-cell *matCellDef="let event">{{ events.data.indexOf(event) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="subactivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtipul activitatii</th>
      <td mat-cell *matCellDef="let event">{{ event.subactivity }}</td>
    </ng-container>
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipul activitatii</th>
      <td mat-cell *matCellDef="let event">{{ event.activity }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ziua</th>
      <td mat-cell *matCellDef="let event">
        <span (click)="executeGoToDay(event)" class="date"
          ><u>{{ event.start | date: 'EEEE, dd MMM yyyy' | titlecase }}</u></span
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Ora de inceput</th>
      <td mat-cell *matCellDef="let event">{{ event.start | date: 'HH:mm' }}</td>
    </ng-container>
    <ng-container matColumnDef="-">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">-</td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>Ora de sfarsit</th>
      <td mat-cell *matCellDef="let event">{{ event.end | date: 'HH:mm' }}</td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>Ore</th>
      <td mat-cell *matCellDef="let event">{{ event.end.getHours() - event.start.getHours() }} ore</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button mat-mini-fab title="Editeaza" class="action-button" aria-label="Edit" (click)="executeEditEvent(event)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button mat-mini-fab title="Sterge" class="action-button" aria-label="Delete" (click)="executeDeleteEvent(event)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
</div>
