<div class="table-container">
  <mat-grid-list cols="100" rowHeight="50px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="100" [rowspan]="1">
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn second-mode-btn"
        [disabled]="!allEvents"
        (click)="executeGetEvents()"
      >
        {{ 'event.eventsFromLabel' | translate: { dateType: isWeekly ? ('event.week' | translate) : ('event.day' | translate) } }}
      </button>
      <button
        mat-raised-button
        class="upt-secondary-btn switch-modes-btn first-mode-btn"
        [disabled]="allEvents"
        (click)="executeGetAllEvents()"
      >
        {{ 'event.allEvents' | translate }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="7" [rowspan]="1">
      <button mat-raised-button class="upt-primary-btn" (click)="deleteSelected()" [hidden]="selectedEvents.length === 0">
        {{ 'actions.delete' | translate }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="23" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>{{ 'event.filter.subactivity' | translate }}:</mat-label>
        <mat-select [(ngModel)]="subactivityFilter" name="subactivityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let subactivity of subactivities" [value]="subactivity">
            {{ 'event.subactivity.' + subactivity | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="20" [rowspan]="1" *ngIf="isEmployee()">
      <mat-form-field appearance="fill" class="filter-container">
        <mat-label>{{ 'event.filter.activity' | translate }}:</mat-label>
        <mat-select [(ngModel)]="activityFilter" name="activityFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let activity of activities" [value]="activity">
            {{ 'event.activity.' + activity | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="22" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container date-filter-container">
        <mat-label>{{ 'event.filter.date' | translate }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [value]="startDateFilter" (dateChange)="executeStartDateFilterEvents($event)" />
          <input matEndDate [value]="endDateFilter" (dateChange)="executeEndDateFilterEvents($event)" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <button mat-flat-button matDateRangePickerApply class="date-picker-btn">{{ 'event.filter.apply' | translate }}</button>
            <button
              mat-flat-button
              matDateRangePickerCancel
              class="date-picker-btn"
              (click)="removeDateFilter()"
              [hidden]="!startDateFilter"
            >
              {{ 'event.filter.delete' | translate }}
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1">
      <mat-form-field appearance="fill" class="filter-container entity-filter">
        <mat-label class="course-filter">{{ 'event.filter.course' | translate }}:</mat-label>
        <mat-select [(ngModel)]="courseFilter" name="courseFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let course of courses" [value]="course" class="course-filter">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="14" [rowspan]="1" *ngIf="isEmployee()">
      <mat-form-field appearance="fill" class="filter-container entity-filter">
        <mat-label class="project-filter">{{ 'event.filter.project' | translate }}:</mat-label>
        <mat-select [(ngModel)]="projectFilter" name="projectFilter" (selectionChange)="executeFilterEvents()">
          <mat-option></mat-option>
          <mat-option *ngFor="let project of projects" [value]="project" class="project-filter">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <table
    mat-table
    [dataSource]="displayEvents"
    matSort
    matSortActive="date"
    matSortDirection="desc"
    matSortDisableClear
    multiTemplateDataRows
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="0"
    (scrolled)="onScroll()"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          color="primary"
          (change)="checkAll($event.checked)"
          [checked]="events.data.length !== 0 && selectedEvents.length === events.data.length"
          class="select-checkbox"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let event">
        <mat-checkbox
          color="primary"
          (change)="checkEvent($event.checked, event)"
          [checked]="isEventChecked(event)"
          class="select-checkbox"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nr_crt">
      <th mat-header-cell *matHeaderCellDef>{{ 'nr' | translate }}</th>
      <td mat-cell *matCellDef="let event">{{ displayEvents.data.indexOf(event) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="subactivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'event.activity.subtype' | translate }}</th>
      <td mat-cell *matCellDef="let event">
        {{ event.subactivity ? ('event.subactivity.' + event.subactivity | translate) : ('event.activity.' + event.activity | translate) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="activity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'event.activity.type' | translate }}</th>
      <td
        mat-cell
        *matCellDef="let event"
        [class.color-activity-course-fade]="event.activity === 'courseHour'"
        [class.color-activity-project-fade]="event.activity === 'project'"
        [class.color-activity-other-activity-fade]="event.activity === 'otherActivity'"
        [class.color-activity-holiday-fade]="event.activity === 'holidays'"
      >
        <b>{{ 'event.activity.' + event.activity | translate }}</b>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'event.table.date' | translate }}</th>
      <td mat-cell *matCellDef="let event">
        <span (click)="executeGoToDay(event)" class="date"
          ><u>{{ event.start | date: 'EEEE, dd MMM yyyy' | titlecase }}</u></span
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>{{ 'startHour' | translate }}</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ event.start | date: 'HH:mm' }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="-">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">-</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef>{{ 'endHour' | translate }}</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ event.end.getHours() == 0 ? '24:00' : (event.end | date: 'HH:mm') }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>{{ 'event.table.hours' | translate }}</th>
      <td mat-cell *matCellDef="let event">
        <div *ngIf="event.start.getHours() !== 0 || event.end.getHours() !== 0">
          {{ (event.end.getHours() === 0 ? 24 : event.end.getHours()) - event.start.getHours() }} {{ 'hours' | translate }}
        </div>
        <div *ngIf="event.start.getHours() === 0 && event.end.getHours() === 0">{{ 'event.allDay' | translate }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="{{ 'action.edit' | translate }}"
          class="action-button"
          aria-label="Edit"
          (click)="executeEditEvent(event)"
          [class.activity-course]="event.activity === 'courseHour'"
          [class.activity-project]="event.activity === 'project'"
          [class.activity-other-activity]="event.activity === 'otherActivity'"
          [class.activity-holiday]="event.activity === 'holidays'"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="{{ 'action.delete' | translate }}"
          class="action-button"
          aria-label="Delete"
          (click)="executeDeleteEvent(event)"
          [class.activity-course]="event.activity === 'courseHour'"
          [class.activity-project]="event.activity === 'project'"
          [class.activity-other-activity]="event.activity === 'otherActivity'"
          [class.activity-holiday]="event.activity === 'holidays'"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="copy">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button
          mat-mini-fab
          title="{{ 'action.copy' | translate }}"
          class="action-button"
          aria-label="Copy"
          (click)="executeCopyEvent(event)"
          [class.activity-course]="event.activity === 'courseHour'"
          [class.activity-project]="event.activity === 'project'"
          [class.activity-other-activity]="event.activity === 'otherActivity'"
          [class.activity-holiday]="event.activity === 'holidays'"
        >
          <mat-icon>file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let event" [attr.colspan]="columnNames.length">
        <div class="example-element-detail" [@detailExpand]="event == expandedEvent ? 'expanded' : 'collapsed'">
          <div
            class="expanded-date-container"
            [class.border-activity-course]="event.activity === 'courseHour'"
            [class.border-activity-project]="event.activity === 'project'"
            [class.border-activity-other-activity]="event.activity === 'otherActivity'"
            [class.border-activity-holiday]="event.activity === 'holidays'"
          >
            <div
              class="year-container"
              [class.activity-course]="event.activity === 'courseHour'"
              [class.activity-project]="event.activity === 'project'"
              [class.activity-other-activity]="event.activity === 'otherActivity'"
              [class.activity-holiday]="event.activity === 'holidays'"
            >
              {{ event.start | date: 'y' }}
            </div>
            <div
              class="day-container"
              [class.color-activity-course]="event.activity === 'courseHour'"
              [class.color-activity-project]="event.activity === 'project'"
              [class.color-activity-other-activity]="event.activity === 'otherActivity'"
              [class.color-activity-holiday]="event.activity === 'holidays'"
            >
              <div>
                <b>{{ event.start | date: 'd' }}</b>
              </div>
            </div>
            <div
              class="month-container"
              [class.color-activity-course]="event.activity === 'courseHour'"
              [class.color-activity-project]="event.activity === 'project'"
              [class.color-activity-other-activity]="event.activity === 'otherActivity'"
              [class.color-activity-holiday]="event.activity === 'holidays'"
            >
              <div>
                <b>{{ event.start | date: 'MMMM' }}</b>
              </div>
            </div>
          </div>
          <div>
            <div class="activities row">
              {{
                event.subactivity
                  ? ('event.subactivity.' + event.subactivity | translate)
                  : ('event.activity.' + event.activity | translate)
              }}
              ∙ {{ 'event.activity.' + event.activity | translate }}
            </div>
            <div class="entity row" *ngIf="event.entity">
              {{ event.entity.name }}
            </div>
            <div class="entity-description row" *ngIf="event.entity">
              {{ getEntityDetails(event) }}
            </div>
            <div class="description row">
              {{ getDescription(event) }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnNames"
      class="example-element-row"
      [class.example-expanded-row]="expandedEvent === row"
      (click)="expandedEvent = expandedEvent === row ? null : row"
    ></tr>
    <tr mat-row *matRowDef="let &quot;expanded-row&quot;; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
