<div class="calendar-header center">
  <button class="upt-btn go-to-previous" (click)="executeGoBackwards()">
    <span>&lt;</span>
  </button>

  <button class="upt-btn go-to-next" (click)="executeGoForwards()">
    <span>&gt;</span>
  </button>

  <button class="upt-btn weekly-btn" (click)="executeSetWeekly()" *ngIf="isDaily">
    <span>Vezi toata saptamana</span>
  </button>

  <button class="upt-btn go-to-today-btn" (click)="executeGoToToday()" *ngIf="!isTodayVisible">
    <span>Du-te la Astazi</span>
  </button>

  <div class="current-date">
    <span>{{ date | date: format | titlecase }}</span>
    <span *ngIf="!isDaily"> - {{ endWeekDay | date: format | titlecase }}</span>
  </div>
</div>
