<div class="calendar-header center">
  <button class="header-btn go-to-last" (click)="executeGoBackwards($event)">
    <span>\<</span>
  </button>

  <button class="header-btn go-to-next" (click)="executeGoForwards($event)">
    <span>\></span>
  </button>

  <button class="header-btn" style="float: left" (click)="executeSetWeekly($event)" *ngIf="isDaily">
    <span>Saptamanal</span>
  </button>

  <div class="current-date">
    <span>{{ date | date: format | titlecase }}</span>
    <span *ngIf="!isDaily"> - {{ endWeekDay | date: format | titlecase }}</span>
  </div>
</div>
