<div class="calendar-header text-center">
  <button mat-flat-button class="upt-secondary-btn mode-btn table-btn" [disabled]="mode === 'table'" (click)="executeChangeMode()">
    Tabel
  </button>
  <button mat-flat-button class="upt-secondary-btn mode-btn calendar-btn" [disabled]="mode === 'calendar'" (click)="executeChangeMode()">
    Calendar
  </button>

  <button mat-raised-button class="upt-btn go-to-next" (click)="executeGoForwards()">
    <span>Inainte</span>
  </button>

  <button mat-raised-button class="upt-primary-btn go-to-today-btn" (click)="executeGoToToday()" [disabled]="isTodayVisible">
    <span>Du-te la Astazi</span>
  </button>

  <button mat-raised-button class="upt-btn go-to-previous" (click)="executeGoBackwards()">
    <span>Inapoi</span>
  </button>

  <button mat-flat-button class="upt-secondary-btn add-timeline-button" (click)="executeAddTimeline()">
    <mat-icon>add_box</mat-icon>
  </button>

  <div class="current-date">
    <mat-form-field appearance="fill" class="date-picker-field" *ngIf="isWeekly">
      <mat-label>Alege saptamana</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [value]="date" (dateChange)="goToSelectedDay($event)" />
        <input matEndDate [value]="endWeekDay" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="date-picker-field" *ngIf="!isWeekly">
      <mat-label>Alege ziua</mat-label>
      <input matInput [matDatepicker]="picker" [value]="date" (dateChange)="goToSelectedDay($event)" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-raised-button class="upt-primary-btn weekly-btn" (click)="executeSetWeekly()" [disabled]="isWeekly">
    <span>Vezi toata saptamana</span>
  </button>
</div>
