.calendar-header
  height: 50px

  .go-to-previous
    float: right
    margin-right: 20px

  .go-to-next
    float: right

  .weekly-btn
    float: left
    margin-left: 20px

  .go-to-today-btn
    float: right
    margin-right: 20px

  .current-date
    color: #00135f
    float: left
    padding: 0

    .date-picker-field
      width: 200px
      margin: auto
      font-size: 10px
      padding: 0

  .date-label
    margin: auto
    width: 30%
    font-size: 24px
    color: #00135f
    padding-top: 5px
